.review-series-id-wrapper {
  border: 1px solid black;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

.review-series-id-list {
  display: flex;
  flex-direction: row;
}

.review-series-id-left {
  border: 1px solid red;
  width: 70%;
}

.review-series-id-right {
  border: 1px solid blue;
  width: 30%;
}