.calendar-wrapper {
  border: 1px solid black;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.calendar-navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.calendar-table {
  width: 100%;
}

.calendar-day {
  border: 1px solid blue;
  text-align: center;
  &.empty {
    border: 1px solid pink;
  }
  &.today {
    border: 1px solid red;
  }
  &.deadline {
    border: 1px solid peru;
  }
}

.calendar-select-box {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}

