.review-coupon-header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 35px;
  color: #484848;
  font-weight: 700;
  text-align: center;
}

.review-coupon-detail-wrapper {
  width: 80%; 
  margin: 0 auto;
}

.review-coupon-detail-post-button {
  height: 40px;
  line-height: 40px;
  color: white;
  font-weight: 600;
  text-align: center;
  background-color: rgb(84, 157, 217);;
  border-radius: 5px;
  cursor: pointer;
}