.model-info-wrapper {
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.model-info-title {
  width: 20%;
  border: 1px solid red;
}

.model-info-img-wrapper {
  width: 30%;
  border: 1px solid blue;
  padding: 10px;
}

.model-info-img {
  position: relative;
  overflow: hidden;
  padding-top: 70%;

  img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.model-info-content {
  width: 50%;
  border: 1px solid pink;
}