.review-input-wrapper {
}

.review-input-label {
  margin-bottom: 9px;
  font-size: 27px;
  color: #484848;
  font-weight: 700;
}

.review-input-value {
  margin-bottom: 25px;
  font-size: 19px;
  padding: 8px 6px 8px 6px;
  border: 1px solid #D7DBE6;
  border-radius: 5px;
  color: #484848;
}