.check-box-wrapper {
  position: relative;
  width: 100%;
}

.check-box-label {
  position: relative;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  color: #767676;
}

.check-box-value {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  margin-bottom: 10px;
}