.check-box-wrapper {
  position: relative;
  width: 100%;
}

.check-box-label {
  position: relative;
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #767676;
}

.check-box-value {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}