.review-order-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 90px;
  padding-bottom: 100px;
  max-width: 768px;
  margin: 0 auto;
  transition: all .8s;
}

.review-order-instruction {
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.review-order-header {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #484848;
  font-size: 40px;
  font-weight: 800;
  width: 100%;
  text-align: center;
}

.review-order-review-viewer {
  // desktop
  @media screen and (min-width: 1024px) {
    width: 65%;
  }
}

.review-order-fixed-bar {
  width: 35%;
  padding-left: 30px;
}

.review-order-fixed-bottom {
  width: 100%;
}
