.review-order-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 1024px;
  margin: 0 auto;
}

.review-order-instruction {
  width: 100%;
}

.review-order-contents {
  // desktop
  @media screen and (min-width: 1024px) {
    width: 70%;
  }
  padding: 20px;
}

.review-order-fixed-bar {
  width: 30%;
}

.review-order-fixed-bottom {
  width: 100%;
}