.user-wrapper {
  padding-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

.user-header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 35px;
  color: #484848;
  font-weight: 700;
  text-align: center;
}