.maker-info-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d6d6; 
}

.maker-info-title {
  width: 100%;
  margin-bottom: 10px;
  font-size: 23px;
  color: #484848;
  font-weight: 700; 
}

.maker-info-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid pink;
}