.link-review-info-wrapper {
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.link-review-wrapper {
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.link-review-info-title {
  width: 20%;
  border: 1px solid red;
}


.link-review-info-content {
  width: 80%;
  border: 1px solid pink;
}