.review-series-item-wrapper {
  position: relatvie;
}

.review-series-thumbnail-wrapper {
  // display: block;
  // width: 100%;
  // height: 60%;
  // border: 1px solid black;
  // overflow: hidden;
  width: 100%;
}

.review-series-thumbnail {
  position: relative;
  overflow: hidden;
  padding-top: 70%;

  img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.review-series-item-contents {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.review-series-item-auth {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 400;
  color: #484848;
}

.review-series-item-title {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
  font-size: 21px;
  font-weight: 600;
  color: #484848;

  // // 한줄 자르기
  // width: 100%;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;

  // 여러줄 자르기
  line-height: 1.4;
  max-height: 3.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.review-series-item-rating {
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
  font-size: 18px;
  font-weight: 600;
  color: #484848;
}